
.card-body{
    aspect-ratio: 103/141;    
    position: relative;
    border-radius: 8%;
    max-width: 192px;
    width: 25vw;
    min-width: 95px;
    display: inline-block;
}

.card-letter{
    position: absolute;
    left: 13.59%;
    right: 58.28%;
    top: 12.06%;
    bottom: 49.69%;

    font-family: 'Courier Prime';
    font-style: normal;
    font-weight: 700;    
    text-align: center;
}

.suit-sub-img{
    position: absolute;
    left: 19.27%;    
    top: 40.15%;    
    width: 18%;
}

.suit-main-img{
    position: absolute;
    left: 36.98%;    
    top: 53.79%;    
    width: 46%;
}